/*
Theme Name: Ribosome
Theme URI: http://galussothemes.com/wordpress-themes/ribosome
Author: GalussoThemes
Author URI: http://galussothemes.com
Description: Ribosome is a simple and light WordPress theme with a clear and neat design. Some its features are: header image or logo, custom theme color (blue, green, orange, pink or red), right sidebar or left, excerpts or entire entries on homepage, main menu on the left or centered, six different Google Fonts, thumbnails rounded or squared, two widgets areas (beginning and end of posts), related posts, customization panel, fully responsive, custom header, custom background and more. Translation Ready (English and spanish integrated). Required WordPress 4.1+.
Version: 1.9.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, one-column, two-columns, right-sidebar, left-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: ribosome
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	padding-left: 7px !important;
	padding-left: 0.5rem !important;
	font-weight: normal;
	text-align: left;
}
th {
	padding: 5px;
	padding: 0.3571428571428571rem;
	background-color: #f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
fieldset {
	padding: 14px;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-radius: 0.3571428571428571rem;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
legend {
	font-weight: bold;
	padding: 0 7px;
	padding: 0 0.5rem;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: none !important;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}
.archive-title {
	/*font-weight:normal;*/
	font-size:14px;
	font-size:1rem;
	text-transform: uppercase;
	color: #636363;
}
.entry-content th {
	font-size: 14px;
	font-size: 1rem;
	text-transform: none;
}
.widget-title {
	font-size: 14px;
	font-size: 1rem;
}
h3.widget-title{
	padding:0 !important;
	border-bottom:2px solid #f2f2f2;
}
.widget-title-tab {
	padding:3px 14px;
	padding:0.2142857142857143rem 1rem;
	display:inline-block;
	background-color:#f2f2f2;
	color:#444;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
footer.entry-meta {
	font-size: 14px !important;
	font-size: 1rem !important;
}

/* Form fields, general styles first */
button,
input,
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
}
button,
input {
	line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}
select {
	font-size: 100%;
	max-width:100%;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
button, input[type="submit"], input[type="button"], input[type="reset"]{
	border:none;
	border-radius:0;
	box-shadow: none;
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	color:#ffffff;
	font-size:14px;
	font-size:1rem;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover{
	box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.5);
}
.menu-toggle,
.bypostauthor cite span {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 1rpx;
	font-size: 1rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.bypostauthor cite span {
	border:none !important;
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
.menu-toggle:hover,
.menu-toggle:focus {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.menu-toggle:active,
.menu-toggle.toggled-on {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}
.bypostauthor cite span {
	color: #fff;
	background-color: #0098D3;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	height: auto;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.header-image {
	border-radius: 0;
	box-shadow: none;
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.author-info {
	border: 1px solid #ededed !important;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding:14px 7px;
	padding:1rem 0.5rem;
	overflow: hidden;
}
.author-description h2 {
	margin-bottom: 7px;
	margin-botton: 0.5rem;
	font-size:16px;
	font-size:1.142857142857143rem;
}
.author-description p {
	color: #757575;
	line-height: 1.5;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
	font-size: 87.5%;
}
body {
	font-size: 16px;
	font-size: 1.142857142857143rem;
	font-family: Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #444;
}
body.custom-font-enabled {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a {
	outline: none;
	color: #0098D3;
	text-decoration: none;
}
a:hover {
	color: #0098D3;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
	width: 1px;
}
.main-navigation .assistive-text:focus,
.site .screen-reader-text:hover,
.site .screen-reader-text:active,
.site .screen-reader-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	height: auto;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site {
	background-color: #fff;
	overflow:auto;
}
.site-content {
	margin: 28px 0 0;
	margin: 2rem 0 0;
}
.widget-area {
	margin: 28px 0 0;
	margin: 2rem 0 0;
}
.widget-area li {
	border-bottom: 1px solid #f2f2f2;
	padding: 5px;
	padding: 0.3571428571428571rem;
}

/* Header */
.site-header {
	padding-bottom: 14px;
	padding-bottom: 1rem;
}
.site-header h1,
.site-header h2 {
	text-align: center;
}
.site-header h1 a,
.site-header h2 a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #0098D3;
}
.site-header h1 {
	font-size: 24px;
	font-size: 1.714285714rem;
	line-height: 1.285714286;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.site-header h2 {
	font-weight: normal;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}

/* Navigation Menu */
.main-navigation {
	text-align: center;
	background-color: #F7F7F7;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
	cursor: default;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #0098D3;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 28px;
	margin-bottom: 2rem;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
	margin-left: 36px;
	margin-left: 2.571428571rem;
}
.widget-area .widget a {
	color: #444;
}
.widget-area .widget a:hover {
	color: #0098D3 !important;
}
.widget-area .widget a:visited {
	color: #444;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */
footer[role="contentinfo"] {
	overflow: hidden;
	border-top: 1px solid #ededed;
	clear: both;
	font-size: 14px;
	font-size: 1rem;
	line-height: 2;
	/*max-width: 1096px;
	max-width: 78.28571428571429rem;*/
	margin-top: 24px;
	margin-top: 1.714285714rem;
	padding: 7px 7px 21px 7px;
	padding: 0.5rem 0.5rem 2.5rem 0.5rem;
	background-color: #222222;
	color: #f2f2f2;
}
footer[role="contentinfo"] a:hover {
	color: #0098D3;
}


/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header .entry-title {
	font-size: 20px;
	font-size: 1.428571429rem;
	line-height: 1.2;
	font-weight: normal;
	/*padding:7px 0;
	padding-top:0.5rem 0;
	border-top:1px solid #F2F2F2;*/
}
.entry-title-subtitle {
	padding:7px 0;
	padding:0.5 0;
	border-top:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-title a, entry-title a:visited {
	color:#444444;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 7px;
	margin-top: 0.5rem;
	font-size: 11px;
	font-size: 1rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #0098D3;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}
.entry-content p,
.entry-summary p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.comment-content p {
	margin: 0 0 21px;
	margin: 0 0 1.5rem;
	line-height:1.7;
}
.entry-content p{
		line-height: 1.8;
	}
.entry-content a:visited,
.comment-content a:visited {
	color: #9f9f9f;
}
.entry-content .more-link {
	white-space: nowrap;
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin: 0 28px 14px 28px;
	margin: 0 2rem 1rem 2rem;
	padding: 7px;
	padding: 0.5rem;
	font-style: italic;
}
blockquote {
	border-left: 2px solid #cccccc;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	line-height: 2;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	padding: 2px 4px;
	padding: 0.1428571428571429rem 0.2857142857142857rem;
	border-radius: 2px;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 14px;
	padding: 1rem;
	background-color: #f2f2f2;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
	border: none;
	padding: 0;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter,
.wp-caption.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content iframe {
	margin-bottom:0;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	/*color: #757575;*/
	font-size: 14px;
	font-size: 1rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}
.site-content article {
	margin-bottom: 28px;
	margin-bottom: 2rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}

/* =Archives
-------------------------------------------------------------- */

.page-header {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	padding-bottom: 22px;
	padding-bottom: 1.571428571rem;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin-top: 14px;
	margin-top: 1rem;
}
.archive-header {
	margin-bottom: 24px;
	margin-bottom: 2rem;
	padding: 7px;
	padding: 0.5rem;
	border-left: 2px solid #999;
	background-color:#F9F9F9;
}

/* =Single audio/video attachment view
-------------------------------------------------------------- */

.attachment .entry-content .mejs-audio {
	max-width: 400px;
}
.attachment .entry-content .mejs-container {
	margin-bottom: 24px;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
	margin-top: 0.571428571rem;
}


/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	background: #f7f7f7; #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #0098D3;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}


/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: bold;
	padding: 7px;
	padding: 0.5rem;
}
h2.comments-title {
	font-weight:normal;
	padding: 7px 14px;
	padding: 0.5rem 1rem;
	border:1px solid #EDEDED;
	border-left:2px solid #444;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area cite b {
	font-weight: normal;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #0098D3;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
.comments-area .bypostauthor cite b {
	font-weight: bold;
}
.comment-meta.comment-author.vcard {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #0098D3;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 28px;
	margin-top: 2rem;
}
#respond h3#reply-title {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.comment-notes {
	font-size:14px;
	font-size:1rem;
	margin:21px 0;
	margin:1.5rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
	text-transform:uppercase;
	font-size:12px;
	font-size:0.8571428571428571rem;
	font-weight:bold;
	color:#686868;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
	background-color:#f7f7f7;
	margin-bottom:21px;
	margin-bottom:1.5rem;
}
#respond form input[type="text"]:focus,
#respond form textarea:focus {
	background-color:#ffffff;
}
#respond form input[type="submit"] {
	text-transform:uppercase;
	font-weight:bold;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}

/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.714285714rem;
}
/* =Menú móvil
----------------------------------------------- */
#menu-movil {
	display:none;
	max-width:100%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	background-color:#222222;
	color:#EAEAEA;
	padding:14px;
	padding:1rem;
	z-index:9999;
}

.boton-menu-movil {
	float:left;
	padding:7px;
	padding:0.5rem;
	padding-right:0;
	margin-right:14px;
	margin-right:1rem;
}
.boton-menu-movil-sin-top-bar {
	text-align:center;
	padding:14px;
	background-color:#222222;
	color:#ffffff;
	font-weight:bold;
}
.boton-menu-movil-sin-top-bar:hover {
	cursor:pointer;
}
.menu-movil-enlaces {
	margin-top:14px;
	margin-top:1rem;
}
.menu-movil-enlaces li {
	color:#EAEAEA;
	overflow:hidden;
}

.menu-movil-enlaces li a {
	display:inline-block;
	min-width:80%;
	color:#EAEAEA !important;
	line-height:1.7;
	padding-bottom:7px;
	padding-bottom:0.5rem;
	text-transform:uppercase;
	margin-bottom:0.5rem;
	border-bottom:1px solid #333333;
}
.menu-movil-enlaces a:hover {
	text-decoration:none;
	color:#EAEAEA;
}
.menu-movil-enlaces a:visited {
	color:#EAEAEA;
}
.menu-movil-enlaces ul li ul li a {
	padding-left:28px;
}

.menu-movil-enlaces ul li ul li ul li a {
	padding-left:56px;
}
.menu-movil-enlaces ul li ul li ul li ul li a {
	padding-left:84px;
}
.menu-movil-enlaces .menu-item-has-children ul {display:none;}

.submenu-colapsado:before{
	font-family: FontAwesome;
	content:"\f078";
	/*content:"\f067";*/
	float:right;
	/*font-size:20px;*/
	border-left:1px solid #444444;
	padding:0 14px;

}
.submenu-expandido:before{
	font-family: FontAwesome;
	content:"\f077";
	/*content:"\f068";*/
	float:right;
	/*font-size:20px;*/
	border-left:1px solid #444444;
	padding:0 14px;
}
.submenu-colapsado:hover{
	cursor:pointer;
}
.social-icon-wrapper {
	display:none;
}
.social-icon-wrapper-pie {
	padding: 7px;
	padding: 0.5rem;
	text-align: center;
	font-size: 21px;
	font-size: 1.5rem;
}
.social-icon-wrapper-movil {
	margin-top:7px;
	margin-top:0.5rem;
	padding-top:7px;
	padding-top:0.5rem;
	/*border-top:1px solid #333;*/
	text-align: center;
	font-size: 21px;
	font-size: 1.5rem;
	color:#EAEAEA;
	text-align:center;
}
.social-icon-wrapper-movil a {
	color:#EAEAEA;
}

/* =Front-page
----------------------------------------------- */
.contenedor-presentacion {
	text-align: center;
	margin-top:14px;
	margin-top:1rem;
	margin-bottom:42px;
	margin-bottom:3rem;
}
.presentacion {
	text-align:left;
	padding:0 0 14px 0;
	padding:0 0 1rem 0;
	line-height:1.7;
}
.contenedor-cajas-destacados {
	text-align: center;
	margin-top:14px;
	margin-top:1rem;
	margin-bottom:14px;
	margin-bottom:1rem;
}

.titulo-caja-destacados {
	font-size:21px;
	font-size:1.5rem;
	padding:14px 0;
	padding:1rem 0;
}
.descripcion-caja-destacados {
	padding:0 7px 7px;
	padding:0 0.5rem 0.5rem;
	line-height:1.4;
}
.contenedor-enlace-caja-destacados {
	padding:21px 0;
	padding:1.5rem 0;
}
.enlace-caja-destacados {
	padding:7px 14px;
	padding:0.5 1rem;
	border:1px solid #444;
	color:#444;
}
.enlace-caja-destacados:hover {
	color:#fff;
	background-color:#0098D3;
}
.blog-en-front-page {
	text-align:center;
	padding-top:14px;
	padding-top:1rem;
}
h3.cabeceras-fp {
	font-weight:normal;
	text-align:center;
	border-bottom:2px solid #6CF;
	color:#fff;
	margin-bottom:42px;
	margin-bottom:3rem;
}
.encabezados-front-page {
	display:inline-block;
	font-size:21px;
	font-size:1.5rem;
	padding:7px 14px;;
	padding:1rem;
	background-color:#6CF;
}
.post-en-front-page {
	margin-bottom:7px;
	margin-bottom:0.5rem;

}
.wrapper-excerpt-fp {
	line-height:1.7;
	padding:14px;
	padding:1rem;
	border:1px solid #e0e0e0;
	border-top:none;
}
.wrapper-excerpt-thumbnail-front-page {
	position:relative;
	padding-top:7px;
	padding-top:0.5rem;
}
.wrapper-excerpt-thumbnail-front-page img {
	min-width:100%;
	box-shadow:none;
}
.wrapper-excerpt-thumbnail-front-page img:hover {
	opacity:0.7;
}

/* =Dashicons
----------------------------------------------- */

.widget-title-tab:before {
	content:"\f180";
	padding-right:7px;
	padding-right:0.5rem;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: middle;
}
.widget_recent_entries .widget-title-tab:before {
	content:"\f123";
}
.widget_recent_comments .widget-title-tab:before {
	content:"\f101";
}
.widget_categories .widget-title-tab:before {
	content:"\f318";
}
.widget_tag_cloud .widget-title-tab:before {
	content:"\f323";
}
.widget_archive .widget-title-tab:before {
	content:"\f480";
}
.widget_nav_menu .widget-title-tab:before {
	content:"\f333";
}
.widget_search .widget-title-tab:before {
	content:"\f179";
}
.widget_calendar .widget-title-tab:before {
	content:"\f508";
}
.widget_pages .widget-title-tab:before {
	content:"\f105";
}
.widget_meta .widget-title-tab:before {
	content:"\f110";
}
.widget-title-tab a.rsswidget{
	/*color:#fff !important;*/
}
.rsswidget img{
	display:none;
}
.widget_rss .widget-title-tab:before {
	content:"\f303";
}
.widget-facebook-title .widget-title-tab:before {
	content:"\f305";
}

/* =Otros
----------------------------------------------- */
.sticky-info {
	display:inline-block;
	padding:7px;
	background-color:#F9F9F9;
	border:1px solid #EDEDED;
	border-bottom:none;
	font-style:italic;
}
.sticky-excerpt {
	background-color:#F9F9F9;
}
.ir-arriba {
	position:fixed;
	right:14px;
	right:1rem;
	bottom:14px;
	bottom:1rem;
	display:none;
	padding:14px;
	background-color:#333;
	color:#fff;
	font-weight:bold;
	border:2px solid #fff;
	border-radius:50%;
	cursor:pointer;
}
/* Comentarios */
header.comment-meta {
	padding:10px;
	padding:0.7142857142857143rem;
	margin-bottom:0 !important;
}
.comment-content {
	background-color:#f9f9f9;
	padding:14px 14px 0;
	padding:1rem 1rem 0;
	border:1px solid #dddddd;
}
.comment-author img {
	padding:2px !important;
	border:1px solid #ccc;
	border-radius:50%;
	width:60px;
	height:auto;
}
.reply {
	padding:7px;
}
.border-none {
	border:none !important;
}
.term-icon {
	/*color: #0098D3;*/
}
.prefix-widget-title {
	color: #0098D3;
}
.top-bar {
	height: auto;
	overflow: hidden;
	background-color: #222222;
	color: #EAEAEA;
	font-size: 21px;
	font-size: 1.5rem;
}
.blog-title-wrapper {
	float: left;
	padding: 7px;
	padding: 0.5rem;
}
h1.site-title{
	font-size: 21px !important;
	font-size: 1.5rem !important;
	font-weight:normal;
	margin:0;
	line-height:1;
}
.blog-title-wrapper h1.site-title{
	color:#EAEAEA !important;
}
.social-icon-wrapper {
	display:none;
}
.social-icon-wrapper a {
	color: #EAEAEA;
}
.social-icon-wrapper a:hover {
	color: #ffffff;
}
input[type="submit"], input[type="reset"] {
	background-image: none !important;
	background-color: #0098D3;
	color: #ffffff !important;
}
.wrapper-search-top-bar {
	overflow:hidden;
	clear:both;
	background-color: #555555;
	padding: 2px;
	display:none;
}
.search-top-bar {
	float: right;
	padding-left: 14px;
	padding-left: 1rem;
}
.wrapper-search-form {
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 14px 0;
	padding: 1rem 0;
	text-align:center;
}
.toggle-search {
	display:none;
}
#main.wrapper {
	padding: 0 28px;
	padding: 0 2rem;
}

.blog-info-sin-imagen {
	position: relative;
	padding: 28px 28px 42px 28px;
	padding: 2rem 2rem 3rem 2rem;
	background-color: #0098D3;
	color: #fff;
}

.blog-info-sin-imagen h1 {
	font-size: 42px;
	font-size: 3rem;

}
.blog-info-sin-imagen h1.site-title a {
	color: #eaeaea;
}
.blog-info-sin-imagen h2 {
	color: #eaeaea;
}
.logo-header-wrapper {

}
.image-header-wrapper {

}
.image-header-wrapper img {
	display:block; /* Evita el padding inferior del div que contiene una imagen con el height en auto */
}
.sub-title {
	font-size:14px;
	color:#9A9A9A;
	line-height:2.5;
	/*margin-top:14px;
	margin-top:1rem;
	padding-bottom:10px;
	padding-bottom:0.7142857142857143rem;
	border-bottom:1px solid #F2F2F2;*/
	overflow:hidden;
}
.sub-title a {
	color:#9A9A9A;
}

.sub-title a:hover {
	color:#0098D3;
}
.sub-title .autor-fecha {
	float:left;
	/*width:50%;*/
}
.sub-title .popup-comments {
	float:right;
	text-align:right;
	padding-right:35px;
	padding-right:2.5rem;
	width:35%;
}
.excerpt-wrapper {
	overflow: hidden;
	line-height: 1.8;
	padding: 7px;
	padding: 0.5rem;
	border: 1px solid #EDEDED;
}
.excerpt-wrapper .entry-title{
	display:inline;
	line-height:1.2;
	clear:right;
	font-size:28px;
	font-size:2rem;
	font-weight:normal;
	padding-top:0 !important;
	border-top:none !important;
}
.excerpt-wrapper .entry-header {
	margin-bottom:14px;
	margin-bottom:1rem;
}
.excerpt-wrapper-fp-clasic {
	overflow: hidden;
	line-height: 1.8;
	padding-bottom:14px;
	padding-bottom:1rem;
	margin-bottom:14px;
	margin-bottom:1rem;
	border-bottom: 1px solid #ededed;
}
.excerpt-wrapper-fp-clasic .entry-title{
	display:inline;
	line-height:1.2;
	clear:right;
	font-size:28px;
	font-size:2rem;
	font-weight:normal;
}
.wrapper-excerpt-thumbnail {
	/*float: left;
	width: auto;
	height: auto;
	margin-right: 21px;
	margin-right: 1.5rem;
	margin-top: 0.5rem;*/
	text-align:center;
}
.wrapper-excerpt-thumbnail img {
	 /*border-radius:50%;*/
	 width:100%;
}

.entry-meta-term-excerpt {
	background-color: #FAFAFA;
	border:1px solid #EDEDED;
	border-top:none;
	padding: 5px;
	padding: 0.3571428571428571rem;
}
.entry-meta-term-single {
	background-color: #FAFAFA;
	padding: 5px;
	padding: 0.3571428571428571rem;
}
.sub-title-widget-area {
	line-height: 1.7;
	margin: 14px 0;
	margin: 1rem 0;
}
.post-end-widget-area {
	line-height: 1.7;
	margin: 14px 0;
	margin: 1rem 0;
}
.site-info a {

}
.credits {
	display:inline-block;
	vertical-align:top;
	padding:0 1%;
	width:30%;
}
.credits-left {

}
.credits-center {
	text-align: center;
}
.credits-right {
	text-align: right;
	padding:0;
}
.wrapper-form-comments {
	padding-left:28px;
	padding-left:2rem;
	padding-right:28px;
	padding-right:2rem;
	border: 1px solid #EAEAEA;
	line-height:1.5;
}
.wrapper-related-posts {
	padding-top: 28px;
	padding-top: 2rem;
}
.wrapper-related-posts p{
	font-weight:bold;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.wrapper-navigation-below {
	overflow:hidden;
	padding: 14px;
	padding: 1rem;
	border:1px solid #EDEDED;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}

/* =Media queries
-------------------------------------------------------------- */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

@media screen and (min-width: 640px) {
	.wrapper-excerpt-thumbnail {
		float: left;
		width: auto;
		height: auto;
		margin-right: 21px;
		margin-right: 1.5rem;
		margin-top: 0.5rem;
	}
}

/* Minimum width of 640 pixels. */
@media screen and (min-width: 768px) {
	#primary {float:right;}
	#secondary {float:left;}

	.toggle-search {
		display:inherit;
		float: right;
		cursor: pointer;
		background-color: #222222;
		color: #0098D3;
		padding: 7px;
		padding: 0.5rem;
	}
	.social-icon-wrapper {
		display:inherit;
		float: right;
		padding: 7px;
		padding: 0.5rem;
		text-align: right;
		font-size: 21px;
		font-size: 1.5rem;
	}
	.boton-menu-movil {
		display:none;
	}
	.boton-menu-movil-sin-top-bar{
		display:none;
	}
	.caja-destacados {
		display:inline-block;
		width:22%;
		vertical-align:top;
		font-size:85%;
		margin:0 1%;
		margin-bottom:28px;
		margin-bottom:2rem;
	}
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		max-width:1144px;
		max-width:81.71428571428571rem;
		/*max-width: 1096px;
		max-width: 78.28571428571429rem;*/
		overflow: hidden;
	}
	.site-content {
		/* Para Sideba a la derecha
		float: left;
		width: 65.104166667%;
		padding-right: 24px;
		padding-right:1.714285714285714rem;
		border-right: 1px solid #e0e0e0;*/
		/* Para Sidebar a la izquierda */
		float: left;
		/*width: 67.104166667%;*/
		width: 67%;
		border-right: none;
		/*border-left: 1px solid #e0e0e0;*/
		padding-right:0;
		padding-left:24px;
		padding-left:1.714285714285714rem;
		/* ademas para poner sidebar a la izquierda #primary {float:right;} #secondary {float:left;} */
	}
	body.attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}
	.widget-area {
		float: right;
		width: 28%;
	}
	.site-header h1,
	.site-header h2 {
		text-align: center;
	}
	.site-header h1 {
		font-size: 35px;
		font-size:2.5rem;
		margin-bottom: 0;
	}
	.main-navigation .menu-item-has-children > a:after {
		font-family: FontAwesome;
		content: "\f0d7";
		position: absolute;
		right: -14px;
		right: -1rem;
		top: 0;
	}
	.main-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		border-bottom: 1px solid #E0E0E0;
		border-top: 1px solid #E0E0E0;
		display: inline-block !important;
		text-align: left;
		width: 100%;
		font-weight:bold;
	}
	.sub-menu li {text-align:left;}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color:#6A6A6A;
		line-height: 3.692307692;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover,
	.main-navigation li a:focus {
		color: #F9F9F9;
	}
	.main-navigation li {
		margin: 0 21px;
		margin: 0 1.5rem;
		position: relative;
	}
	.main-navigation li ul li {margin-left:0}
	.main-navigation li ul {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 999999;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li:focus > ul,
	.main-navigation .focus > ul {
		border-left: 0;
		clip: inherit;
		overflow: inherit;
		height: inherit;
		width: inherit;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 11px;
		font-size: 0.785714286rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571rem 0.714285714rem;
		width: 180px;
		width: 12.85714286rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover,
	.main-navigation li ul li a:focus {
		background: #e3e3e3;
		color: #444;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #f9f9f9;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}
	.entry-header .entry-title {
		font-size: 28px;
		font-size: 2rem;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.commentlist .children {
		margin-left: 48px;
		margin-left: 3.428571429rem;
	}
	.credits {
		width:31%;
	}
}

@media screen and (min-width: 768px) {
	.post-en-front-page {
		display:inline-block;
		width:30%;
		vertical-align:top;
		font-size:85%;
		margin:0 1%;
		margin-bottom:28px;
		margin-bottom:2rem;
	}
	.post-en-front-page {
		border:none;
	}
	.post-en-front-page h1 {
		font-size:21px;
		font-size:1.5rem;
		font-weight:normal;
		line-height:1.5;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background-color: #fff; #f2f2f2;
	}
	body .site {
		/*margin-bottom: 48px;
		margin-bottom: 3.428571429rem;*/
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
	.main-navigation li a {
		font-size: 14px;
		font-size: 1rem;
	}
	.widget-title {
		padding: 5px 0;
		padding: 0.3571428571428571rem;
	}
	.site-content {
		border-left: 1px solid #e0e0e0;
	}

}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	footer a[rel=bookmark]:link:after,
	footer a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	a {
		text-decoration: none;
	}
	.entry-content img,
	.comment-content img,
	.author-avatar img,
	img.wp-post-image {
		border-radius: 0;
		box-shadow: none;
	}
	.site {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	.site-header {
		margin-bottom: 72px;
		margin-bottom: 5.142857143rem;
		text-align: left;
	}
	.site-header h1 {
		font-size: 21pt;
		line-height: 1;
		text-align: left;
	}
	.site-header h2 {
		color: #000;
		font-size: 10pt;
		text-align: left;
	}
	.site-header h1 a,
	.site-header h2 a {
		color: #000;
	}
	.author-avatar,
	#colophon,
	#respond,
	.commentlist .comment-edit-link,
	.commentlist .reply,
	.entry-header .comments-link,
	.entry-meta .edit-link a,
	.page-link,
	.site-content nav,
	.widget-area,
	img.header-image,
	.main-navigation {
		display: none;
	}
	.wrapper {
		border-top: none;
		box-shadow: none;
	}
	.site-content {
		margin: 0;
		width: auto;
	}

	.entry-header .entry-title,
	.entry-title {
		font-size: 21pt;
	}
	footer.entry-meta,
	footer.entry-meta a {
		color: #444;
		font-size: 10pt;
	}
	.author-description {
		float: none;
		width: auto;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.comments-area article header cite,
	.comments-area article header time {
		margin-left: 50px;
		margin-left: 3.57142857rem;
	}
}
