/*
Theme Name: Corporate Hub
Theme URI: http://themeinwp.com/theme/corporate-hub
Author: ThemeInWP
Author URI: http://themeinwp.com
Description: Corporate Hub is a great WordPress Theme for any type of businesses or organizations. Corporate Hub is suitable for all creative people, agency, creative business, company, individual or agencies portfolios, product or service selling website etc. Take this chance to build a perfect website and impress your customers. Corporate Hub is a modern and creative template, suited for any type of businesses or organizations. It is highly super flexible, with a clean and professional design. Corporate Hub is the perfect template to build a great website for your company. Official Support Forum: http://www.themeinwp.com/support/ Full Demo: http://demo.themeinwp.com/corporate-hub/
Version: 1.0.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: corporate-hub
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, full-width-template, custom-header, sticky-post, translation-ready, theme-options, threaded-comments, footer-widgets


Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Links
# Preloader
# Social Icons
# Header
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Asides
    ## Post-navigation
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# Footer
--------------------------------------------------------------*/

/*------------------------------------------------------------
 * # Normalize
 *------------------------------------------------------------
 */
html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.meta-icon {
    margin-left: 5px;
    margin-right: 5px;
}

/*------------------------------------------------------------
 * # Typography
 *------------------------------------------------------------
 */

body,
button,
input,
select,
textarea {
    font-size: 17px;
    color: #252525;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5f5f5f;
    clear: both;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 2.4rem;
    color: #252525
}

h2 {
    font-size: 2rem;
    color: #252525
}

h3 {
    font-size: 1.7333333333333rem;
    color: #252525
}

h4 {
    font-size: 1.6rem;
    color: #252525
}

h5 {
    font-size: 1.4rem;
    color: #252525
}

h6 {
    font-size: 1.2rem;
    color: #252525
}

body .alt-font {
    font-family: 'Roboto', sans-serif;
}

.normal {
    font-weight: normal;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

blockquote p {
    margin-bottom: 1em;
    font-size: 16px;
    line-height: 1.7;
    font-style: normal;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.number {
    font: 500 70px/1.2 'Roboto', sans-serif;
    letter-spacing: -2px;
}

/*------------------------------------------------------------
 * # Elements
 *------------------------------------------------------------
 */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #fff;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*------------------------------------------------------------
 * # Forms
 *------------------------------------------------------------
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    outline: 0;
    padding: 10px 15px;
}

textarea {
    outline: 0;
    padding-left: 3px;
    width: 100%;
}

.middle-div {
    width: 100%;
    height: 100%;
    display: table;
    margin: 0;
    position: relative;
    z-index: 2;
}

.middle-div .inner {
    display: table-cell;
    vertical-align: middle;
}

.twp-block {
    display: table;
    float: left;
}

.twp-block > div {
    display: table-cell;
    vertical-align: middle;
}

.bg-fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*------------------------------------------------------------
 * # Links
 *------------------------------------------------------------
 */

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: #333;
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

/*Swatches Option*/
.primary-bg {
    background: #111;
    color: #fff;
}

.primary-bg a {
    color: #fff;
}

.primary-color,
.primary-color a {
    color: #111;
}

.secondary-bg {
    background: #111;
    color: #fff;
}

.secondary-bg a {
    color: #fff;
}

.secondary-color,
.secondary-color a {
    color: #888;
}

.elements-bg {
    background: #313131;
    color: #fff;
}

.elements-bg p,
.elements-bg span,
.elements-bg a {
    color: #fff;
}

.elements-color,
.elements-color a {
    color: #fff;
}

.twp-btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    overflow: hidden;
    padding: 15px 40px;
    position: relative;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: perspective(0);
    -ms-transform: perspective(0);
    -webkit-transform: perspective(0);
    transform: perspective(0);
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease;
    -webkit-transition-delay: 0s;
    transition: all 0.7s ease 0s;
}

.twp-btn:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #111;
    z-index: -1;
    -moz-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -moz-transition: -moz-transform 0.5s linear 0s;
    -o-transition: -o-transform 0.5s linear 0s;
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transition-delay: 0s;
    transition: transform 0.5s linear 0s;
}

.twp-btn:hover,
.twp-btn:focus {
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
}

.twp-btn:hover:before,
.twp-btn:focus:before {
    -moz-transform: rotate(45deg) scaleY(5);
    -ms-transform: rotate(45deg) scaleY(5);
    -webkit-transform: rotate(45deg) scaleY(5);
    transform: rotate(45deg) scaleY(5);
}

.twp-btn.twp-btn-primary {
    background: #111;
    border: 0;
    color: #fff;
}

.twp-btn-primary:before {
    background: #111;
}

.twp-btn-primary:hover,
.twp-btn-primary:focus {
    background: #353535;
}

.twp-btn.twp-btn-secondary {
    background: #111;
    border: 0;
    color: #fff;
}

.twp-btn-secondary:before {
    background: #111;
}

.twp-btn-secondary:hover,
.twp-btn-secondary:focus {
    color: #fff;
}

.twp-btn.twp-btn-element {
    background: #353543;
    border: 0;
    color: #fff;
}

.twp-btn-element:before {
    background: #111;
}

.twp-btn-element:hover,
.twp-btn-element:focus {
    color: #fff;
}

.twp-btn-transparent {
    color: #fff;
    background: transparent;
}

.twp-btn-transparent:before {
    background: #111;
}

.twp-btn-transparent:hover,
.twp-btn-transparent:focus {
    color: #fff;
    border-color: #111;
}

.twp-pt-0 {
    padding-top: 0 !important;
}

.twp-pb-0 {
    padding-bottom: 0 !important;
}

.twp-pl-0 {
    padding-left: 0 !important;
}

.twp-pr-0 {
    padding-right: 0 !important;
}

.twp-plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.spacer-big {
    padding-top: 35px;
    padding-bottom: 35px;
}

.spacer-big:before,
.spacer-big:after {
    clear: both;
    content: "";
    display: table;
}

/*------------------------------------------------------------
 * # Preloader
 *------------------------------------------------------------
 */

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
}

.preloader .loader-inner {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    background: #353543;
    position: relative;
    overflow: hidden;
}

.preloader .bg-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.10);
    z-index: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.preloader .bg-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.page-loaded {
    margin: 0;
}

.page-loaded .bg-1 {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition-delay: .5s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.page-loaded .bg-2 {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition-delay: .9s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

.page-loaded .preloader {
    padding: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    visibility: hidden;
}

.page-loaded .preloader .loader-inner {
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition-delay: 1.5s;
}

.page-loaded .preloader .inner .loader {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transition-delay: .2s;
    filter: alpha(opacity=0);
    opacity: 0;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 100001;
}

.loader.light {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*------------------------------------------------------------
 * # Social Icons
 *------------------------------------------------------------
 */

.social-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

.social-icons {
    width: 100%;
    float: left;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 60px;
}

.social-icons ul {
    float: none;
    margin: 0 auto;
    padding: 0;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul a {
    position: relative;
    color: #fff
}

.social-icons ul a span {
    position: absolute;
    height: 20px;
    line-height: 20px;
    bottom: -50px;
    left: -40%;
    right: -40%;

    background-color: #333;
    display: inline-block;
    min-height: 30px;
    padding: 7px 10px 8px;
    margin: auto;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-size: 0px;
    font-size: 0rem;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -ms-transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.social-icons ul a span:after {
    border-bottom: 6px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top: -6px;
    margin: 0 auto;
    height: 6px;
    width: 6px;
}

.social-icons ul li a:after {
    background-color: #fff;

    border: 2px solid #333;
    color: #333;
    display: inline-block;
    font-weight: 400;
    height: 46px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 46px;
    text-align: center;
    width: 46px;
    font-size: 18px;
    font-size: 1.125rem;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.social-icons ul li:first-child a:after {
    margin-left: 0;
}

.social-icons ul li:last-child a:after {
    margin-right: 0;
}

.social-icons.bordered-radius ul a:after {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.social-icons ul a:hover span,
.social-icons ul a:focus span {
    font-size: 13.008px;
    font-size: 0.813rem;
    filter: alpha(opacity=1);
    opacity: 1;
    width: 180%;
}

.social-icons ul a:hover:after,
.social-icons ul a:focus:after,
.social-icons ul a:active:after {
    background: #ECE9E6;
}

.social-icons ul a:after {
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    width: 46px;
    font-size: 20px;
    line-height: 46px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-icons ul a[href*="dribbble.com"]:after {
    content: "\f22d";
}

.social-icons ul a[href*="facebook.com"]:after {
    content: "\f231";
}

.social-icons ul a[href*="twitter.com"]:after {
    content: "\f243";
}

.social-icons ul a[href*="linkedin.com"]:after {
    content: "\f239";
}

.social-icons ul a[href*="instagram.com"]:after {
    content: "\f351";
}

.social-icons ul a[href*="youtube.com"]:after {
    content: "\f24d";
}

.social-icons ul a[href*="vimeo.com"]:after {
    content: "\f245";
}

.social-icons ul a[href*="plus.google.com"]:after {
    content: "\f34f";
}

.social-icons ul a[href*="pinterest.com"]:after {
    content: "\f2b1";
}

.social-icons ul a[href*="tumblr.com"]:after {
    content: "\f241";
}

.social-icons ul a[href*="wordpress.org"]:after {
    content: "\f249";
}

.social-icons ul a[href*="whatsapp.com"]:after {
    content: "\f4f0";
}

.social-icons ul a:hover[href*="reddit.com"]:after {
    content: "\f23b";
}

.social-icons ul a:hover[href*="facebook.com"]:after {
    color: #3C579E !important
}

.social-icons ul a:hover[href*="twitter.com"]:after {
    color: #01BBF6 !important
}

.social-icons ul a:hover[href*="linkedin.com"]:after {
    color: #1484C3 !important
}

.social-icons ul a:hover[href*="instagram.com"]:after {
    color: #2D6A93 !important
}

.social-icons ul a:hover[href*="youtube.com"]:after {
    color: #D62424 !important
}

.social-icons ul a:hover[href*="pinterest.com"]:after {
    color: #BD2126 !important
}

.social-icons ul a:hover[href*="plus.google.com"]:after {
    color: #D73D32 !important
}

.social-icons ul a:hover[href*="flickr.com"]:after {
    color: #FD0083 !important
}

.social-icons ul a:hover[href*="tumblr.com"]:after {
    color: #34465D !important
}

.social-icons ul a:hover[href*="wordpress.org"]:after {
    color: #3480A3 !important
}

.social-icons ul a:hover[href*="wordpress.com"]:after {
    color: #3480A4 !important
}

.social-icons ul a:hover[href*="soundcloud.com"]:after {
    color: #FF4E00 !important
}

.social-icons ul a:hover[href*="dribbble.com"]:after {
    color: #EE6D9E !important
}

.social-icons ul a:hover[href*="digg.com"]:after {
    color: #000 !important
}

.social-icons ul a:hover[href*="behance.net"]:after {
    color: #131418 !important
}

.social-icons ul a:hover[href*="vine.co"]:after {
    color: #00BF8F !important
}

.social-icons ul a:hover[href*="snapchat.com"]:after {
    color: #F50 !important
}

.social-icons ul a:hover[href*="reddit.com"]:after {
    color: #CEE3F8 !important
}

.social-icons ul a:hover[href*="medium.com"]:after {
    color: #02B875 !important
}

.social-icons ul a:hover[href*="whatsapp.com"]:after {
    color: #4EC65A !important
}

.social-icons ul a:hover[href*="slack.com"]:after {
    color: #56B68B !important
}

.social-icons ul a:hover[href*="vk.com"]:after {
    color: #537599 !important
}

.icon-box:hover > i:before,
.icon-box:focus > i:before,
.social-icons ul a:hover:after,
.social-icons ul a:focus:after {
    color: #04142b;
    -webkit-animation: icon-zoom 0.5s linear;
    animation: icon-zoom 0.5s linear;
}

@-webkit-keyframes icon-zoom {
    50% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes icon-zoom {
    50% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

/*------------------------------------------------------------
 * # Header
 *------------------------------------------------------------
 */

#masthead {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

@media only screen and (min-width: 992px) {
    .nav-overlay #masthead {
        position: absolute;
    }

    .boxed-layout.nav-overlay #masthead {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-overlay #masthead .top-header {
        background: transparent;
    }

    .nav-overlay #masthead.nav-affix .top-header {
        background-color: #fff;
        border-color: #f1f1f1;
    }

    .nav-overlay #masthead .top-header,
    .nav-overlay #masthead .top-header a {
        color: rgba(255, 255, 255, 0.7);
    }
}

.boxed-layout .nav-affix .top-header {
    left: 30px;
    right: 30px;
}

.top-header {
    background: #fff;
    border-bottom: 1px solid #747c86;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media only screen and (min-width: 992px) {
    .top-header,
    .top-header a,
    .nav-overlay #masthead.nav-affix .top-header,
    .nav-overlay #masthead.nav-affix .top-header a {
        color: #1a1a1a;
    }
}

.nav-affix .top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
}

.site-branding {
    float: left;
    margin-top: 15px;
    line-height: 1;
}

.site-branding .site-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
}

.site-branding .site-description {
    margin-bottom: 0;
}

.site-branding a[rel="home"] {
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .site-branding {
        max-width: 50%;
        margin-top: 30px;
    }
}

.twp-nav {
    float: right;
    margin-right: 30px;
}

.navbar-extras {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .navbar-extras {
        border-left: 1px solid #747c86;
    }

    #masthead.nav-affix .navbar-extras {
        border-color: #f1f1f1;
    }

    .twp-nav {
        margin-right: -15px;
    }
}

@media only screen and (max-width: 767px) {
    .twp-nav {
        margin-right: 50px;
    }
}

.navbar-extras li a {
    display: block;
    padding: 30px 30px;

}

.navbar-extras li a:hover,
.navbar-extras li a:focus {
    filter: alpha(opacity=80);
    opacity: .8;
}

/* SEARCH BOX */
.search-box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.search-box {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(-101%);
    -moz-transform: translateY(-101%);
    -ms-transform: translateY(-101%);
    -o-transform: translateY(-101%);
    transform: translateY(-101%);
    transition: all 0.4s ease;
}

.search-box .middle-div {
    background: #fff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    z-index: 0;
}

.search-box form {
    display: block;
    color: #fff;
}

.search-box h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.search-box .close-search {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 48px;
    color: #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 50%;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
}

.search-box.show-me {
    filter: alpha(opacity=1);
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

@media only screen and (min-width: 992px) {
    #masthead.nav-affix .navbar-extras li a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/*------------------------------------------------------------
 * ## Menus
 *------------------------------------------------------------
 */

.menu {
    float: right;
    -webkit-transition: padding 0.4s;
    -moz-transition: padding 0.4s;
    -ms-transition: padding 0.4s;
    -o-transition: padding 0.4s;
    transition: padding 0.4s;
    -webkit-transform: translateZ(0);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu > ul > li {
    display: inline-block;
}

.menu ul a {
    position: relative;
    display: block;
    padding: 30px 15px;
    text-transform: uppercase;
}

.menu li.menu-item-has-children > a,
.menu ul a:hover {
    color: #ffffff;
}

.menu > ul > li.menu-item-has-children > a:after,
.menu ul a:hover:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent;
    content: '';
    z-index: -1;
}

.menu > ul > li.menu-item-has-children > a:after {
    border-bottom-color: #BDC3C7;
}

.menu ul a:hover:after {
    border-bottom-color: #ffffff;
}

.menu ul ul li {
    width: 250px;
}

.menu ul ul a {
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
}

.menu ul ul a:before {
    margin-right: 10px;
    font-family: 'FontAwesome';
    content: '\f105';
    color: #404040;
}

.menu ul ul a:hover {
    background-color: #161616;
}

.menu ul ul {
    position: absolute;
    text-align: left;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -moz-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -ms-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -o-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
}

.menu li:hover > ul {
    visibility: visible;
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity 0.4s, top 0.4s;
    -moz-transition: opacity 0.4s, top 0.4s;
    -ms-transition: opacity 0.4s, top 0.4s;
    -o-transition: opacity 0.4s, top 0.4s;
    transition: opacity 0.4s, top 0.4s;
}

.menu > ul > li > ul {
    top: 100%;
    left: 0;
    background-color: #161616;
}

.menu > ul > li:last-child > ul {
    left: auto;
    right: 0;
}

.menu > ul > li:hover > ul {
    top: 90%;
}

.menu ul ul ul {
    top: -20px;
    left: 100%;
    background-color: #BDC3C7;
}

.menu > ul > li:last-child ul ul,
.menu > ul > li:nth-last-child(2) ul ul {
    left: -100%;
}

.menu ul ul li:hover ul {
    top: 0;
}

.menu.mobile ul ul {
    display: none;
}

.menu i {
    color: inherit;
}

.menu > ul > li > a i {
    background-color: #161616;
    padding: 5px 7px;
}

@media only screen and (min-width: 992px) {
    #masthead.nav-affix .menu ul a {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .menu ul > li > a:before {
        background: rgba(255, 255, 255, 0.2);
        content: "";
        display: block;
        width: 1px;
        height: 13.2px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -6.6px;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    #masthead.nav-affix .menu ul > li > a:before {
        background: rgba(0, 0, 0, 0.5);
    }

    #masthead.nav-affix .menu ul > li:first-child > a:before,
    .menu ul > li:first-child > a:before,
    .menu ul > li.current-menu-parent ul li a:before {
        background: transparent;
        display: none;
    }
}

/*------------------------------------------------------------
 * ## Mobile Navigation
 *------------------------------------------------------------
 */

#nav-toggle {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 40px;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: top 0.6s, right 0.4s;
    -moz-transition: top 0.6s, right 0.4s;
    -ms-transition: top 0.6s, right 0.4s;
    -o-transition: top 0.6s, right 0.4s;
    transition: top 0.6s, right 0.4s;
}

.open #nav-toggle {
    right: 0;
    margin: 0 auto;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #000;
    content: '';
    cursor: pointer;
}

.site-header.open #nav-toggle span:before,
.site-header.open #nav-toggle span:after {
    background-color: #fff;
}

#nav-toggle span {
    top: 19px;
    left: 10px;
}

#nav-toggle span:before {
    top: -6px;
}

#nav-toggle span:after {
    bottom: -6px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.open #nav-toggle span {
    background-color: transparent;
}

.open #nav-toggle span:before,
.open #nav-toggle span:after {
    top: 0;
}

.open #nav-toggle span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #nav-toggle span:after {
    top: 5px;
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -moz-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}

@media only screen and (max-width: 991px) {
    #nav-toggle,
    .menu > ul > li,
    .menu li.parent.show > ul {
        display: block;
        float: none;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -280px;
        left: auto;
        padding: 40px;
        height: 100%;
        width: 280px;
        background-color: #222222;
        float: none;
        line-height: 1.5;
        text-align: left;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        -webkit-transform: translateZ(0);
        -webkit-transition: right 0.4s, visibility 0s linear 0.4s;
        -moz-transition: right 0.4s, visibility 0s linear 0.4s;
        -ms-transition: right 0.4s, visibility 0s linear 0.4s;
        -o-transition: right 0.4s, visibility 0s linear 0.4s;
        transition: right 0.4s, visibility 0s linear 0.4s;
    }

    .open .menu {
        right: 0;
        padding-top: 40px;
        visibility: visible;
        -webkit-transition: right 0.4s;
        -moz-transition: right 0.4s;
        -ms-transition: right 0.4s;
        -o-transition: right 0.4s;
        transition: right 0.4s;
    }

    .menu ul ul li {
        margin-left: 20px;
    }

    .menu ul ul {
        position: static;
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        background-color: transparent !important;
        box-shadow: none;
    }

    .menu ul ul li {
        width: auto;
    }

    .menu li.parent {
        position: relative;
    }

    .menu li.parent:after {
        position: absolute;
        top: 15px;
        right: 10px;
        color: #fff;
        font-family: 'FontAwesome';
        font-size: 9px;
        font-weight: normal;
        content: '\f078';
    }

    .menu > ul > li.menu-item-has-children > a:after,
    .menu ul a:hover:after {
        display: none;
    }

    .menu ul a,
    .menu ul ul a {
        padding: 10px 15px;
    }

    #masthead .top-header .menu.mobile a {
        color: #fff;
    }
}

/*------------------------------------------------------------
 * # Accessibility (Text meant only for screen readers.)
 *------------------------------------------------------------
 */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

#content[tabindex="-1"]:focus {
    outline: none;
}

/*------------------------------------------------------------
 * # Alignments
 *------------------------------------------------------------
 */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------------------------------
 * # Clearings
 *------------------------------------------------------------
 */

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

#secondary .widget {
    margin-bottom: 60px;
}

#secondary .widget:last-child {
    margin-bottom: 20px;
}

.widget ol,
.widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.widget ol li,
.widget ul li {
    margin-bottom: 10px;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

.widget-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.bordered-title {
    padding-bottom: 15px;
    position: relative;
}

.bordered-title:before {
    background: #111;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 90%;
    top: calc(100% - 5px);
    width: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}

.bordered-title:after,
.widget-title:after {
    background: #111;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100px;
}

.bordered-title:hover:after,
.widget-title:hover:after,
.bordered-title:focus:after,
.widget-title:focus:after{
    width: 100%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.search-form label .search-field {
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search-form .search-submit {
    background: #333;
    color: #fff;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
    clear: both;
    position: relative;
}

.site:before,
.site:after {
    content: "";
    clear: both;
    display: table;
}

.boxed-layout {
    padding-left: 30px;
    padding-right: 30px;
}

.container-fluid {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .full-screen-layout .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 1600px) {
    .full-screen-layout .container-fluid {
        max-width: 1400px;
    }
}

.twp-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.home.blog .site-content,
.site-content {
    margin: 0 auto;
    padding: 45px 0 60px;
    width: 100%;
    max-width: 1170px;
}

.home .site-content {
    padding: 0;
    max-width: inherit;
}

.data-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

#primary,
#secondary {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 992px) {
    #primary {
        width: 70%;
    }

    #secondary {
        width: 30%;
    }
}

body.left-sidebar #primary {
    float: right;
}

body.no-sidebar #primary {
    width: 100%;
}

body.no-sidebar #secondary {
    display: none !important;
    width: 0px;
    height: 0px;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
}

.section-block {
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-block:before,
.section-block:after {
    clear: both;
    content: "";
    display: table;
}

.section-head span {
    display: block;
    clear: both;
    font-size: 22px;
    font-size: 50%;
    line-height: 1.5;
    margin-top: 10px;
}

.section-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 45px;
}

.alt-features-title span {
    display: block;
}

.alt-features-title {
    margin-bottom: 21px;
}

.alt-features-item {
    margin-top: 30px;
}

.alt-features-icon {
    padding-top: 10px;
    font-size: 48px;
    line-height: 1.3;
    color: #111;
}

.alt-features-title {
    margin-bottom: 20px;
}

.alt-features-descr {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86
}

/*
*--------------------------------------------------------------
* Homepage Section
*--------------------------------------------------------------
*/
/* HOME SLIDER */
.hero-slider,
.inner-banner,
.twp-image-archive {
    width: 100%;
    background-repeat: repeat;
    background-color: #3f3f3f;
    background-attachment: scroll;
    background-size: inherit;
    background-image: url(images/preload_pattern.png);
    -webkit-animation-fill-mode: forwards;
    animation-name: preload-background;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 20;
}

.inner-banner.no-animation{
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
.hero-slider {
    height: calc(100vh - 120px);
}

.nav-overlay .hero-slider {
    height: 100vh;
}

@-webkit-keyframes preload-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@-moz-keyframes preload-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes preload-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.hero-slider.overlay .slider-item:before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

/* HOME SERVICES */

.about-section .title-flip {
    float: left;
    margin: 0;
    font-size: 160px;
    line-height: 1.2;
    font-weight: 900;
    text-indent: 10px;
}

.about-section .content-box {
    width: 100%;
    margin: 30px auto;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media only screen and (min-width: 992px) {
    .about-section .content-box {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .about-section.about-section-bottom .section-title {
        position: relative;
        height: 100%;
    }

    .about-section .side-title {
        line-height: 24px;
        width: 120%;
        font-size: 22px;
        font-weight: 900;
        margin: 50% 0 0 30%;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.about-section .content-box .title-box {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}

.title-box:before,
.title-box:after {
    display: table;
    content: "";
    clear: both;
}

.icon-box {
    display: table-cell;
    width: 60px;
    font-size: 25px;
    line-height: 50px;
    border: 1px solid #111;
    text-align: center;
    margin-right: 15px;
    vertical-align: middle;
}

.title-box .alt-features-title {
    display: table-cell;
    vertical-align: bottom;
    padding-left: 15px;
}

.about-section .title-box .bordered-title:before {
    left: 15px;
}

.about-section .title-box .bordered-title:after {
    left: 20px;
}

.about-section-top {
    border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 768px) {
    .about-section .content-box p {
        min-height: 140px;
    }
}

.about-section-middle .section-title {
    border-bottom: 4px solid #d4d4d4;
    padding-bottom: 15px;
}

.about-featured-wrapper {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    max-height: 230px;
    cursor: pointer;
}

.about-featured img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about-featured:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.about-featured .number {
    color: #ffffff;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 120px;
    line-height: 140px;
    opacity: .4;
    filter: alpha(opacity=40);
    letter-spacing: 2px;
}

.about-featured .about-title {
    padding: 15px 0 0;
    display: block;
    clear: both;
    min-height: 90px;
}

.about-featured .about-title .alt-features-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
}

@media only screen and (min-width: 992px) {
    .twp-min-height {
        min-height: 500px;
    }
}

/*--------------------------------------------------------------
 ##WHY CHOOSE US
--------------------------------------------------------------*/
.about-section-bg {
    background: #f9f9f9;
}

.sec-choose {
    position: relative;
}

.sec-choose .choose-tab {
    background: #fff;
    position: relative;
    z-index: 99;
    margin-top: 100px;
}

.sec-choose .choose-tab .nav-tabs {
    border: none;
    margin: 40px 0px;
    display: inline-block;
    width: 100%;
    float: left;
}

.sec-choose .choose-tab h6 {
    color: #666666;
}

.sec-choose .choose-tab .nav-tabs > li {
    width: 50%;
    text-align: center;
    margin: 0px;
    display: table;
    height: 100px;
}

.sec-choose .choose-tab .nav-tabs li a {
    border: none;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.sec-choose .choose-tab .nav-tabs li:nth-child(1) a {
    border-left: none;
    border-top: 1px solid #ececec;
}

.sec-choose .choose-tab .nav-tabs li:nth-child(2) a {
    border-top: 1px solid #ececec;
}

.sec-choose .choose-tab .nav-tabs li:nth-child(3) a {
    border-left: none;
}

.sec-choose .choose-tab .nav-tabs li.active a,
.sec-choose .choose-tab .nav-tabs > li > a:hover,
.sec-choose .choose-tab .nav-tabs > li > a:focus {
    background: #111;
    color: #fff;
}

.sec-choose .choose-tab .nav-tabs li i {
    font-size: 20px;
    display: inline-block;
    position: relative;
    right: 10px;
    top: 3px;
}

.sec-choose .detail-in {
    margin-left: -130px;
    position: relative;
}

.sec-choose .text-content {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
}

.sec-choose .text-content i {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sec-choose .detail-in {
        margin-left: 0px;
    }

    .sec-choose .choose-tab {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .sec-choose .detail-in {
        margin-left: 0;
    }

    .sec-choose .choose-tab {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
    }

    .sec-choose .text-content {
        position: relative;
    }
}

/*
*--------------------------------------------------------------
* Showcase Section
*--------------------------------------------------------------
*/

.showcase-section {
    width: 100%;
    float: left;
}

.showcase-section .section-bg {
    background: #494a4e;
}

.showcase-section .left-side {
    width: 60%;
    float: left;
}

.showcase-section .left-side figure {
    float: left;
    margin: 0 auto;
}

.showcase-section figure figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    content: '';
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.showcase-section figure:hover figcaption::after {
    background: #000;
    content: "";
    filter: alpha(opacity=50);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.showcase-section figure:hover figcaption::before {
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    z-index: 1;
}

.zoom-icon {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    font-size: 50px;
    color: #fff;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
}

.showcase-section figure:hover figcaption .zoom-icon {
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 2;
}

.showcase-section .left-side figure img {
    width: 100%;
}

.showcase-section .right-side {
    width: 40%;
    float: left;
}

.showcase-section .right-side h2 {
    color: #f1f1f1;
    display: block;
    margin-top: 15%;
    padding: 0 15px;
}

.showcase-section .right-side p {
    padding: 0 15px;
}

.showcase-section .right-side h2 span {
    display: block;
    font-size: 22px;
    color: #b5b5b5;
}

/*  Skills
------------------------------------------------*/
.tpl-progress {
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
    text-transform: uppercase;
    overflow: visible;
    height: 2px;
    background: #f0f0f0;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tpl-progress .progress-bar {
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background-color: #222;
    font-size: 11px;
    color: #000;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tpl-progress .progress-bar > span {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    padding: 0 3px;
    position: absolute;
    top: 0px;
    right: -5px;

    text-align: center;
    line-height: 23px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}

.progress-color .progress-bar {
    background-color: #e41919;
    color: #e41919;
}

.progress-color .progress-bar > span {
    background-color: #e41919;
    color: #fff;
}

/*
*--------------------------------------------------------------
* Testmonial Section
*--------------------------------------------------------------
*/
.section-block.testmonial-section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.testmonial-section .testimonial-item {
    margin: 0 auto;
    max-width: 855px;
    text-align: center;
}

.testmonial-section .section-title {
    color: #fff;
}

.testmonial-section .testimonial-item blockquote {
    border: 0;
    color: #fff;
}

.testmonial-section .testimonial-item blockquote footer.testimonial-author a,
.testmonial-section .testimonial-item blockquote footer.testimonial-author a:visited{
    color: #fff;
    font-size: 22px;
}

.testmonial-section .testimonial-item blockquote footer.testimonial-author a:hover,
.testmonial-section .testimonial-item blockquote footer.testimonial-author a:focus{
    color: #f1f1f1;
}
.twp-testmonial .owl-dots {
    position: relative;
    bottom: inherit;
}

.twp-testmonial .owl-dots .owl-dot span {
    border-color: #777;
}

.twp-testmonial .owl-dots .owl-dot.active span {
    background: #fff;
}

.owl-carousel .owl-item .testmonial-avatar img {
    width: 130px;
    height: 130px;
    margin: 20px auto;
}

/*
*--------------------------------------------------------------
* Team Section
*--------------------------------------------------------------
*/
.figure-wrapper figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px auto;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .figure-wrapper figure {
        float: none;
        margin-bottom: 25px;
        max-width: 400px;
    }
}

.figure-wrapper figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.figure-wrapper figure figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.figure-wrapper figure figcaption::before,
.figure-wrapper figure figcaption::after {
    pointer-events: none;
}

.figure-wrapper figure figcaption,
.figure-wrapper figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.figure-wrapper figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

figure.figure-effect {
    background: #04142b;
}

figure.figure-effect img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.figure-effect:hover img {
    filter: alpha(opacity=40);
    opacity: 0.4;
}

figure.figure-effect figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 3px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

figure.figure-effect:hover figcaption::after {
    height: 160px;
    height: -webkit-calc(80% - 30px);
    height: calc(80% - 30px);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.figure-effect:hover .alt-features-title,
figure.figure-effect:focus .alt-features-title{
    filter: alpha(opacity=0);
    opacity: 0;
}

figure.figure-effect figcaption {
    padding: 1.5em 3em;
    text-align: left;
}

figure.figure-effect p {
    position: absolute;
    right: 3em;
    left: 3em;
    filter: alpha(opacity=0);
    opacity: 0;
    bottom: 20px;
    font-size: 16px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
}

figure.figure-effect:hover p {
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*
*--------------------------------------------------------------
* 404 Page
*--------------------------------------------------------------
*/
.error404 #primary,
.page404 #primary {
    width: 100%;
}

/*------------------------------------------------------------
 * ## Posts and pages
 *------------------------------------------------------------
 */

.inner-banner {
    background-position: center center;
    padding: 110px 0;
    position: relative;
}

.inner-banner-img {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.breadcrumbs {
    color: #fff;
    float: right;
    padding: 5px 0;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.breadcrumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul li a{
    color: #fff;
}

.breadcrumbs ul li a:visited,
.breadcrumbs ul li a:hover,
.breadcrumbs ul li a:focus{
    color: #bababa;
}

.breadcrumbs ul .trail-item span {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
}

.breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.breadcrumbs ul li span:before {
    background: rgba(255, 255, 255, 0.2);
    content: "";
    display: block;
    width: 1px;
    height: 13.2px;
    position: absolute;
    top: 10px;
    left: 0;
    margin-top: -6.6px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

.inner-header-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sticky {
    display: block;
    position: relative;
}

body .sticky .entry-title {
    background: #333;
    margin: 0 auto;
    padding: 0;
}

body .sticky .entry-title a {
    color: #fff;
    display: block;
    padding: 10px 15px;
}

body .sticky .entry-title a:before {
    content: "\f2a6";
    display: inline-block;
    margin-right: 5px;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .site-main .sticky .entry-title:after {
    content: none;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 0 auto;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-meta {
    border: 1px solid #bac2cc;
    padding: 5px 5px;
    position: relative;
}

.page-inner-title .entry-meta,
.page-inner-title .entry-meta a{
    color: #fff;
}

.entry-header .entry-title {
    color: #fff;
    margin: 0 0 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
}

.entry-header .entry-title span {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 15px;
}

.site-main .entry-title {
    border-bottom: 1px solid #ccc;
    color: #111;
    display: block;
    padding-bottom: 15px;
    position: relative;
    font-weight: 600;
}

.site-main .entry-title::after {
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background: #111;
    position: absolute;
    bottom: -1px;
    top: inherit;
    left: 0;
    right: 0;
    transition: width .3s;
}

.site-main .entry-title:hover::after {
    width: 100%;
}

.site-content .entry-content .twp-image-archive {
    width: 100%;
}

.site-content .entry-content .image-left {
    float: left;
}

.site-content .entry-content .image-right {
    float: right;
}

.site-content .entry-footer {
    border: 1px solid #ccc;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 15px auto 50px;
}

@media only screen and (min-width: 768px) {
    .site-content .entry-content .image-left {
        margin-right: 3%;
    }

    .home.blog .site-content .entry-content .image-left,
    .archive .site-content .entry-content .image-left {
        width: 32%;
    }

    .site-content .entry-content .image-right {
        margin-left: 3%;
    }

    .home.blog .site-content .entry-content .image-right,
    .archive .site-content .entry-content .image-right {
        width: 32%;
    }

    .home.blog .site-content .entry-content.archive-image-full p,
    .archive .site-content .entry-content.archive-image-full p {
        width: 100%;
    }
}

.site-content .entry-content .image-full {
    text-align: center;
    margin: 0 auto 30px;
}

.site-content .entry-content .twp-image-archive {
    position: relative;
}

/*------------------------------------------------------------
 * ## Post-navigation
 *------------------------------------------------------------
 */

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    border: 1px solid #bac2cc;
    overflow: hidden;
    margin: 0 0 1.5em;
    padding: 0;
    position: relative;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    position: relative;
}

.nav-previous,
.nav-next {
    display: table;
    padding: 5px 5px;
}

.nav-previous:hover,
.nav-previous:focus,
.nav-next:hover,
.nav-next:focus {
    background: #e6e6e6;
}

.nav-previous:before,
.nav-next:after {
    content: "";
    display: table-cell;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-previous:before {
    content: "\f3d2";
}

.nav-next:after {
    content: "\f3d3";
}

.nav-previous a,
.nav-next a {
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.site-main .comment-navigation:after,
.site-main .posts-navigation:after,
.site-main .post-navigation:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #bac2cc;
}

/*------------------------------------------------------------
 * ## Asides
 *------------------------------------------------------------
 */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*------------------------------------------------------------
 * ## Comments
 *------------------------------------------------------------
 */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area ul,
.comments-area ol {
    list-style: none;
}

.comments-area .comment-list {
    padding-left: 0;
    margin-left: 0;
}

.comment-meta {
    margin-bottom: 15px;
}

.comment-author .avatar {
    float: left;
    height: 32px;
    margin-right: 0.8em;
    width: 32px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.comment-awaiting-moderation {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment-form label {
    color: #707070;
    font-size: 15px;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    border-color: #e4e4e4;
    width: 100%;
}

.comment-form input[type="submit"]{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #333;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    padding: 15px 40px;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.comment-form-author,
.comment-form-email {
    width: 50%;
    float: left;
}

.comment-form-author {
    padding-right: 10px;
}

.comment-form-email {
    padding-left: 10px;
}

/*------------------------------------------------------------
 * # Infinite scroll
 *------------------------------------------------------------
 */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

.infinity-end.neverending .site-footer {
    display: block;
}

/*------------------------------------------------------------
 * # Media
 *------------------------------------------------------------
 */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

embed,
iframe,
object {
    max-width: 100%;
}

/*------------------------------------------------------------
 * ## Captions
 *------------------------------------------------------------
 */

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*------------------------------------------------------------
 * ## Galleries
 *------------------------------------------------------------
 */

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*------------------------------------------------------------
 * # Footer
 *------------------------------------------------------------
 */
.footer-widget {
    background-color: #0f0f0f;
    color: #fff;
    padding: 30px 0;
}

.footer-widget a {
    color: #f1f1f1;
}

.footer-widget .widget-title {
    border-bottom: 1px solid #313131;
    color: #fff;
}

.footer-widget .widget-title:after {
    background: #fff;
}

.site-footer {
    background: #f8f8f8;
    float: left;
    padding-top: 60px;
    width: 100%;
}

.footer-social {
    text-align: center;
}

.copyright-area {
    text-align: center;
}

.site-info {
    border-top: 1px solid #ccc;
    color: #333;
    display: inline-block;
    max-width: 900px;
    padding: 40px 0;
    width: 100%;
}

.site-info a {
    color: #333;
}

.site-info a:hover {
    color: #888;
}

/*Latest Blog*/
.twp-blogposts figure {
    width: 100%;
    float: left;
    margin: 0 auto;
    background: #000;
    overflow: hidden;
    position: relative;
}

.twp-blogposts figure .twp-img-hover {
    cursor: pointer;
    top: 70%;
    left: 70%;
    opacity: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

}

.twp-blogposts .twp-post figure:hover .twp-img-hover,
.twp-blogposts .twp-post figure:hover .twp-img-hover {
    top: 0;
    left: 0;
    filter: alpha(opacity=1);
    opacity: 1;
    visibility: visible;
}

.twp-blogposts figure .twp-img-hover .twp-hover-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.twp-share-icons {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.twp-share-icons .href-link {
    color: #fff;
    display: block;
    font-size: 30px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.latest-blog-heading .section-title{
    margin-bottom: 0;
}

.twp-blogposts .twp-sticky-btn {
    background: #0f0f0f;
    color: #fff;
    padding: 0 15px;
    line-height: 32px;
    margin: 0 0 20px;
    text-transform: uppercase;
    z-index: 3;
    cursor: pointer;
    position: absolute;
    left: 15px;
    right: inherit;
    top: -20px;
}

.twp-sticky-btn:before {
    content: "\f2a6";
    display: inline-block;
    margin-right: 5px;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.twp-sticky-btn:after {
    position: absolute;
    top: 97%;
    left: 5px;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid #0f0f0f;
    border-left: 15px solid transparent;
}

.twp-postmeta-wrapper {
    clear: both;
}

.twp-postmeta-wrapper ul {
    background: #f9f9f9;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.twp-postmeta li {
    display: inline-block;
}

.twp-postmeta li a {
    display: block;
    padding: 8px 10px;
}

@media only screen and (max-width: 767px) {
    .twp-blogposts .twp-post {
        float: none;
        margin: 0 auto 25px;
        max-width: 400px;
    }
}

.twp-bordered {
    padding: 20px;
}

.twp-bordered > .section-title {
    border: 2px solid #111;
    height: 100%;
}

.work-more {
    position: relative;
    height: 26px;
}

.work-more-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    text-align: center;
}

.work-more-link:before,
.work-more-link:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #9c9d9c;
    top: 13px;
    width: 35px;
}

.work-more-link:before {
    right: 100%;
    margin-right: 9px;
}

.work-more-link:after {
    left: 100%;
}

/*Admin css*/
.display-info {
    padding-top: 200px;
    padding-bottom: 200px;
}

/*scroll-up*/
#scroll-up {
    position: fixed;
    z-index: 8000;
    bottom: 45px;
    right: 45px;
    display: none;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#scroll-up:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 767px) {
    #scroll-up {
        right: 20px;
        bottom: 20px;
    }
}
